* {
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(
    90deg,
    rgb(107, 152, 168) 45%,
    rgb(163, 88, 157) 45%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  text-shadow: -1px 2px rgba(179, 118, 118, 0.5);
  background: -webkit-linear-gradient(rgb(189, 184, 125), #84a8ae);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scroll {
  width: 60px;
  height: 60px;
  right: 20px !important;
  position: fixed;
  bottom: 20px;
}
::selection {
  background: rgb(174, 238, 229);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(7, 0, 211, 1) 100%
  );
}
::-webkit-scrollbar-thumb {
  background: rgb(63, 208, 213);
}

.input-image {
  width: 180px;
}

.fontSize {
  font-size: 5rem;
  text-shadow: 2px 2px 4px #84a8ae;
}

input {
  width: 250px;
}

button {
  width: 250px;
}
span {
  cursor: pointer;
}
li {
  width: 50%;
}

.dark {
  color: #fff;
  background-color: #333;
}
